* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #1a7ec2;
  --color-primary-hover: #155a8a;
  --color-text-primary: #25333e;
  --color-text-secondary: #52525b;
  --color-background-primary: #274156;
  --color-background-light: #f9f9f9;
  --color-background-dark: #112f45;
  --color-white-hover: #e3e3e7;
  --color-border: #e5e5e6;
  --color-success-content: #1e7b41;
  --color-success-background: #f0fff5;
  --color-input: #536e86;
  --space-0-5: 4px;
  --space-1: 8px;
  --space-1-5: 12px;
  --space-2: 16px;
  --space-2-5: 20px;
  --space-3: 24px;
  --space-3-5: 28px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-xl: 100px;
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-4xl: 32px;
  --font-size-5xl: 40px;
  --font-size-6xl: 44px;
  --border-radius-md: 8px;
  --border-radius-sm: 4px;
  --box-shadow-md:
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075),
    0 32px 32px hsl(0deg 0% 0% / 0.075);
  --box-shadow-sm:
    0 1px 1px hsl(0deg 0% 0% / 0.05), 0 2px 2px hsl(0deg 0% 0% / 0.055),
    0 4px 4px hsl(0deg 0% 0% / 0.055), 0 8px 8px hsl(0deg 0% 0% / 0.055),
    0 16px 16px hsl(0deg 0% 0% / 0.055);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #fff;
  color: var(--color-text-primary);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--color-text-primary);
}

h1 {
  font-size: var(--font-size-6xl);
}

h2 {
  font-size: var(--font-size-3xl);
}

h3 {
  font-size: var(--font-size-2xl);
}

h4 {
  font-size: var(--font-size-lg);
}

p {
  line-height: 1.8;
}

label {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-border);
}

input {
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-input);
  padding: var(--space-1-5);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

textarea {
  border: none;
  box-shadow: none;
  background-color: var(--color-input);
  height: 120px;
  border-radius: var(--border-radius-sm);
  resize: none;
  padding: var(--space-1-5);
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.gap-0-5 {
  gap: 4px;
}

.gap-1 {
  gap: 8px;
}

.gap-1-5 {
  gap: 12px;
}

.gap-2 {
  gap: 16px;
}

.gap-2-5 {
  gap: 20px;
}

.gap-3 {
  gap: 24px;
}

.gap-3-5 {
  gap: 28px;
}

.gap-4 {
  gap: 32px;
}

.gap-5 {
  gap: 40px;
}

.gap-6 {
  gap: 48px;
}

.gap-7 {
  gap: 56px;
}

.gap-8 {
  gap: 64px;
}

button {
  background: var(--color-primary);
  color: #fff;
  border: none;
  padding: var(--space-1-5) var(--space-2-5);
  border-radius: 6px;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: var(--color-primary-hover);
}

.button-white {
  background: #fff;
  color: var(--color-primary);
  border: none;
  padding: var(--space-1-5) var(--space-2-5);
  border-radius: 6px;
  font-size: var(--font-size-sm);
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.button-white:hover {
  background: var(--color-white-hover);
}

.link {
  cursor: pointer;
  color: var(--color-primary);
  transition: opacity 0.3s ease;
}

.link:hover {
  opacity: 0.75;
}

.align-center {
  text-align: center;
}

.title-light {
  color: white;
}

.subtitle-light {
  color: var(--color-border);
}

.surtitle {
  color: var(--color-primary);
  letter-spacing: 2px;
  font-weight: 400;
}

.text-main-light {
  color: var(--color-border);
  font-size: var(--font-size-sm);
}

.text-secondary {
  color: var(--color-text-secondary);
  font-size: var(--font-size-md);
  line-height: 1.8;
}

.highlight-text {
  color: var(--color-primary);
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-primary-hover)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--font-size-4xl);
    line-height: 1.4;
  }

  h2 {
    font-size: var(--font-size-2xl);
  }

  h3 {
    font-size: var(--font-size-xl);
  }
  h4 {
    font-size: var(--font-size-md);
  }
}
