.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.full-width-block {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.stack-row {
  display: flex;
  flex-direction: row;
}

.stack-column {
  display: flex;
  flex-direction: column;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-1 {
  display: flex;
  flex: 1;
}

/* .fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-in.visible {
  opacity: 1;
  transform: none;
} */

.light-ellipse {
  width: 100%;
  height: 840px;
  background: radial-gradient(
    ellipse at center,
    rgba(64, 150, 208, 0.63) 0%,
    rgba(50, 150, 216, 0.22) 70%,
    rgba(32, 131, 198, 0) 100%
  );
  border-radius: 50% / 50%;
  filter: blur(80px);
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

@media (min-width: 2000px) {
  .container {
    max-width: 1280px;
  }
}
