---
const { fallbackUrl = "/blog" } = Astro.props;
---

<a
  href={fallbackUrl}
  class="stack-row link"
  onclick={`
    event.preventDefault();
    if (window.history.length > 1 && document.referrer) {
      window.history.back();
    } else {
      window.location.href = '${fallbackUrl}';
    }
  `}
>
  <div class="back-icon">
    <img src={`/images/back.svg`} alt="retour" />
  </div>
  Retour
</a>

<style>
  .back-icon {
    margin-right: 6px;
    min-width: 14px;
  }
</style>
