---
const { fallbackUrl = "/blog" } = Astro.props;
---

<a
  href={fallbackUrl}
  class="link"
  onclick={`
    event.preventDefault();
    if (window.history.length > 1 && document.referrer) {
      window.history.back();
    } else {
      window.location.href = '${fallbackUrl}';
    }
  `}
>
  <img src={`/back.svg`} style={{ marginRight: "8px" }} />
  Retour
</a>
