<div
  class="bandeau stack-row--mobile-column gap-2-5 flex-justify-between flex-align-center fade-in"
>
  <div class="stack-column gap-1-5">
    <h3 class="title-light">Simplifier votre gestion</h3>
    <p class="text-main-light sub-text-bandeau">Gérer tout au même endroit</p>
  </div>

  <a href="/contact" class="button-white">Nous contacter</a>
</div>
<style>
  .bandeau {
    background-image: url("/KK-effect-bandeau.svg");
    background-size: cover;
    background-position: center;
    padding: var(--space-5);
    border-radius: var(--border-radius-md);
    margin: var(--space-6) 0;
    box-shadow: var(--box-shadow-md);
  }
  .sub-text-bandeau {
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    .bandeau {
      padding: var(--space-3-5);
      margin-left: var(--space-3-5);
      margin-right: var(--space-3-5);
      margin: var(--space-3);
      margin-top: 0;
      background-image: url("/KK-effect-768.svg");
    }
  }
</style>
