<div class="bandeau stack-row flex-justify-between flex-align-center">
  <div class="stack-column gap-1-5">
    <h3 class="title-light">Simplifier votre gestion</h3>
    <p class="text-main-light sub-text-bandeau">Gérer tout au même endroit</p>
  </div>
  <div>
    <button class="button-white">Nous contacter</button>
  </div>
</div>
<style>
  .bandeau {
    background-image: url("/KK-effect-bandeau.svg");
    background-size: cover;
    background-position: center;
    padding: var(--space-5);
    border-radius: var(--border-radius-md);
    margin: var(--space-6) 0;
    box-shadow:
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075),
      0 32px 32px hsl(0deg 0% 0% / 0.075);
  }
  .sub-text-bandeau {
    font-size: 16px;
  }
</style>
