<section class="block">
  <div class="stack-column gap-2">
    <h5 class="surtitle">Actualités</h5>
    <h2>Notre blog</h2>
  </div>
  <div class="blog-content stack-row flex-align-center"></div>
</section>

<style></style>
