---
import ArticlePresentation from "./ArticlePresentation.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<section class="block stack-column gap-4" data-theme="light">
  <div class="stack-column gap-2 fade-in">
    <h5 class="surtitle">Actualités</h5>
    <h2>Notre blog</h2>
  </div>
  <div class="blog-content fade-in">
    {
      posts
        .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
        .slice(0, 3)
        .map((post) => (
          <ArticlePresentation
            link={`/blog/${post.id}/`}
            image={post.data.image}
            title={post.data.title}
            date={post.data.pubDate.toLocaleDateString("fr-FR", {
              day: "2-digit",
              month: "short",
              year: "numeric",
            })}
            description={post.data.description}
          />
        ))
    }
  </div>
  <div class="flex-justify-center">
    <a class="link" href="/blog">Voir plus</a>
  </div>
</section>

<style>
  .blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-5) var(--space-3-5);
  }
</style>
