---
import ArticlePresentation from "./ArticlePresentation.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<section class="block stack-column gap-4" data-theme="light">
  <div class="stack-column gap-2 fade-in">
    <h5 class="surtitle">Blog</h5>
    <h1>Retrouvez nos actualités, des informations pratiques et plus</h1>
  </div>
  <div class="blog-list fade-in">
    {
      posts
        .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
        .map((post) => (
          <ArticlePresentation
            link={`/blog/${post.id}/`}
            image={post.data.image}
            title={post.data.title}
            date={post.data.pubDate.toLocaleDateString("fr-FR", {
              day: "2-digit",
              month: "short",
              year: "numeric",
            })}
            description={post.data.description}
          />
        ))
    }
  </div>
</section>

<style>
  .blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-5) var(--space-3-5);
  }

  @media (max-width: 1024px) {
    .blog-list {
      grid-template-columns: 1fr;
    }
  }
</style>
