<section class="block" data-theme="light" id="fonctionnalités">
  <div class="stack-column gap-2 functionalities-header fade-in">
    <h5 class="surtitle">Fonctionnalités</h5>
    <h2>Les fonctionnalités de King kang</h2>
  </div>

  <div
    class="functionalities-content stack-row--mobile-column flex-align-center fade-in gap-4"
  >
    <div class="functionalities-screen"></div>
    <div class="stack-column gap-2 functionalities-text">
      <h3>La création de <span class="highlight-text">devis</span> rapide</h3>
      <p class="text-secondary">
        Avec KingKang, gagnez du temps grâce à une solution simple et intuitive
        pour générer vos devis en quelques clics. Personnalisez vos documents,
        ajoutez vos produits ou services, appliquez vos remises et envoyez-les
        directement à vos clients. Plus besoin de passer des heures sur la mise
        en forme : KingKang automatise tout pour vous permettre de vous
        concentrer sur votre activité.
      </p>
    </div>
  </div>
  <div
    class="functionalities-content stack-row--mobile-column flex-align-center fade-in gap-4"
  >
    <div class="stack-column gap-2 functionalities-text order-2-mobile">
      <h3>
        <span class="highlight-text">Bons de commande</span> signés électroniquement
      </h3>
      <p class="text-secondary">
        Avec KingKang, créez vos bons de commande en toute simplicité et
        envoyez-les instantanément à vos clients. Chaque document peut être
        signé électroniquement, garantissant une validation rapide, sécurisée et
        conforme aux normes en vigueur. Vous réduisez ainsi les délais
        administratifs et fluidifiez vos transactions commerciales, tout en
        offrant une expérience moderne et professionnelle à vos clients.
      </p>
    </div>
    <div class="functionalities-screen order-1-mobile"></div>
  </div>
  <div
    class="functionalities-content stack-row--mobile-column flex-align-center fade-in gap-4"
  >
    <div class="functionalities-screen"></div>
    <div class="stack-column gap-2 functionalities-text">
      <h3>
        La <span class="highlight-text">facture</span> en un clic
      </h3>
      <p class="text-secondary">
        Transformez vos devis ou bons de commande en factures en un seul clic
        grâce à KingKang. Fini les ressaisies et les pertes de temps : vos
        informations sont automatiquement reprises et mises en forme pour
        générer une facture professionnelle et conforme. Vous gagnez en
        efficacité, réduisez les erreurs et assurez un suivi fluide de vos
        ventes, de la création du devis jusqu’à l’encaissement.
      </p>
    </div>
  </div>
  <div class="functionalities-more">
    <p class="text-secondary align-center">
      … et bien d’autres
      <a class="link" href="/contact"> nous contacter </a>
      pour les découvrir
    </p>
  </div>
</section>

<style>
  .functionalities-header {
    padding-bottom: var(--space-4);
    border-bottom: 1px solid var(--color-border);
  }
  .functionalities-content {
    margin-top: var(--space-8);
    justify-content: space-between;
  }
  .functionalities-screen {
    min-width: 550px;
    height: 500px;
    background: var(--color-background-light);
    border-radius: var(--border-radius-md);
  }
  .functionalities-text {
    max-width: 500px;
  }
  .functionalities-more {
    margin-top: var(--space-xl);
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .functionalities-content {
      width: 100%;
      margin-top: var(--space-6);
    }
    .functionalities-screen {
      min-width: 100%;
      height: 300px;
    }
    .functionalities-more {
      display: none;
    }
    .order-1-mobile {
      order: 1;
    }
    .order-2-mobile {
      order: 2;
    }
  }
</style>
