<section class="block" data-theme="light" id="fonctionnalités">
  <div class="stack-column gap-2 functionalities-header fade-in">
    <h5 class="surtitle">Fonctionnalités</h5>
    <h2>Les fonctionnalités de King kang</h2>
  </div>

  <div
    class="functionalities-content stack-row--mobile-column flex-align-center fade-in gap-4"
  >
    <div class="functionalities-screen"></div>
    <div class="stack-column gap-2 functionalities-text">
      <h3>La création de <span class="highlight-text">devis</span> rapide</h3>
      <p class="text-secondary">
        Donec in tincidunt diam, malesuada elementum justo. Ut neque nulla,
        pulvinar ac pulvinar non, congue in elit. Quisque dictum vitae ipsum non
        eleifend. Aenean interdum sollicitudin erat, nec ornare libero iaculis
        blandit. Aenean pellentesque lacus id auctor rhoncus. Cras magna risus,
        tempus eget purus nec, auctor ullamcorper tortor. Nulla non iaculis
        justo, vitae auctor felis.
      </p>
    </div>
  </div>
  <div
    class="functionalities-content stack-row--mobile-column flex-align-center fade-in gap-4"
  >
    <div class="stack-column gap-2 functionalities-text order-2-mobile">
      <h3>
        Signer des <span class="highlight-text">bons de commande</span> ullamcorper
        tortora
      </h3>
      <p class="text-secondary">
        Donec in tincidunt diam, malesuada elementum justo. Ut neque nulla,
        pulvinar ac pulvinar non, congue in elit. Quisque dictum vitae ipsum non
        eleifend. Aenean interdum sollicitudin erat, nec ornare libero iaculis
        blandit. Aenean pellentesque lacus id auctor rhoncus. Cras magna risus,
        tempus eget purus nec, auctor ullamcorper tortor. Nulla non iaculis
        justo, vitae auctor felis.
      </p>
    </div>
    <div class="functionalities-screen order-1-mobile"></div>
  </div>
  <div
    class="functionalities-content stack-row--mobile-column flex-align-center fade-in gap-4"
  >
    <div class="functionalities-screen"></div>
    <div class="stack-column gap-2 functionalities-text">
      <h3>
        Créer et suivre vos <span class="highlight-text">facture</span> auctor ullamcorper
      </h3>
      <p class="text-secondary">
        Donec in tincidunt diam, malesuada elementum justo. Ut neque nulla,
        pulvinar ac pulvinar non, congue in elit. Quisque dictum vitae ipsum non
        eleifend. Aenean interdum sollicitudin erat, nec ornare libero iaculis
        blandit. Aenean pellentesque lacus id auctor rhoncus. Cras magna risus,
        tempus eget purus nec, auctor ullamcorper tortor. Nulla non iaculis
        justo, vitae auctor felis.
      </p>
    </div>
  </div>
  <div class="functionalities-more">
    <p class="text-secondary align-center">
      … et bien d’autres
      <a class="link" href="/contact"> nous contacter </a>
      pour les découvrir
    </p>
  </div>
</section>

<style>
  .functionalities-header {
    padding-bottom: var(--space-4);
    border-bottom: 1px solid var(--color-border);
  }
  .functionalities-content {
    margin-top: var(--space-8);
    justify-content: space-between;
  }
  .functionalities-screen {
    min-width: 550px;
    height: 500px;
    background: var(--color-background-light);
    border-radius: var(--border-radius-md);
  }
  .functionalities-text {
    max-width: 500px;
  }
  .functionalities-more {
    margin-top: var(--space-xl);
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .functionalities-content {
      width: 100%;
      margin-top: var(--space-6);
    }
    .functionalities-screen {
      min-width: 100%;
      height: 300px;
    }
    .functionalities-more {
      display: none;
    }
    .order-1-mobile {
      order: 1;
    }
    .order-2-mobile {
      order: 2;
    }
  }
</style>
