<div class="block">
  <div class="stack-row gap-8 flex-justify-between">
    <div class="integration-content stack-column gap-4 flex-justify-center">
      <h3>
        <span class="highlight-text">Intégration</span> d’un module de communication
        avec votre financeur
      </h3>
      <p class="text-secondary">
        Kingkang permet d’un simple appel API de récupérer auprès de votre
        financeur, le pavé financier à renseigner obligatoirement sur vos devis
        ou bons de commande. Il permet, toujours de la même manière, de pousser
        les données de vos devis ou bons de commande vers votre outil de saisie
        des dossiers de financement : cela permet alors de pré-remplir le
        dossier de financement, restant uniquement les informations nécessaires
        de la fiche de dialogue à renseigner.
      </p>
    </div>
    <div class="integration-illustration">
      <img src="/integration.jpg" />
    </div>
  </div>
  <style>
    .integration-content {
      max-width: 600px;
    }
    .securisation-illustration > img {
      height: 450px;
      border-radius: var(--border-radius-md);
    }
  </style>
</div>
