<div class="block">
  <div
    class="stack-row--mobile-column gap-8 flex-justify-between fade-in integration-box"
  >
    <div class="integration-content stack-column gap-4 flex-justify-center">
      <h3>
        <span class="highlight-text">Intégration</span> d’un module de communication
        avec votre financeur
      </h3>
      <p class="text-secondary">
        Kingkang permet d’un simple appel API de récupérer auprès de votre
        financeur, le pavé financier à renseigner obligatoirement sur vos devis
        ou bons de commande. Il permet, toujours de la même manière, de pousser
        les données de vos devis ou bons de commande vers votre outil de saisie
        des dossiers de financement : cela permet alors de pré-remplir le
        dossier de financement, restant uniquement les informations nécessaires
        de la fiche de dialogue à renseigner.
      </p>
    </div>
    <div class="integration-illustration">
      <img
        src="/images/integration.jpg"
        class="integration-image"
        alt="image homme costume"
      />
      <img
        src="/images/integration-part.jpg"
        class="integration-part"
        alt="image homme costume"
      />
      <img
        src="/images/sofinco.svg"
        class="sofinco-logo absolute finance-logo-container"
        alt="logo sofinco"
      />
      <img
        src="/images/logo-arkea.png"
        class="arkea-logo absolute finance-logo-container"
        alt="logo arkea"
      />

      <img
        src="/images/cofidis.svg"
        class="cofidis-logo absolute finance-logo-container"
        alt="logo cofidis"
      />
      <img
        src="/images/franfinance.svg"
        class="franfinance-logo absolute finance-logo-container"
        alt="logo franfinance"
      />
    </div>
  </div>
  <style>
    .integration-content {
      max-width: 600px;
    }
    .integration-illustration {
      position: relative;
      width: fit-content;
    }
    .integration-image {
      position: relative;
      height: 350px;
      border-radius: var(--border-radius-md);
    }
    .integration-part {
      position: absolute;
      bottom: -8px;
      left: -8px;
      border-radius: var(--border-radius-md) 0 var(--border-radius-md)
        var(--border-radius-md);
    }
    .finance-logo-container {
      border-radius: var(--border-radius-sm);
      padding: var(--space-2);
      box-shadow: var(--box-shadow-sm);
      background: white;
    }
    .sofinco-logo {
      left: -20%;
      top: 10%;
    }

    .arkea-logo {
      right: -15%;
      bottom: 20%;
      max-width: 170px;
    }
    .cofidis-logo {
      right: -15%;
      top: 15%;
    }

    .franfinance-logo {
      left: -20%;
      top: 45%;
    }

    @media (max-width: 1280px) {
      .integration-image {
        height: auto;
        width: 100%;
      }
      .finance-logo-container {
        padding: var(--space-1);
      }
      .franfinance-logo {
        width: 100px;
        left: -7%;
      }
      .cofidis-logo {
        width: 80px;
        right: -7%;
      }
      .sofinco-logo {
        width: 80px;
        left: -7%;
      }
      .arkea-logo {
        right: -7%;
        max-width: 100px;
      }
      .integration-part {
        bottom: -1%;
        left: -2%;
        width: 90px;
      }
      .integration-box {
        gap: 32px;
      }
    }

    @media (max-width: 768px) {
      .integration-part {
        bottom: -1%;
        left: -2%;
        width: 70px;
      }
    }
  </style>
</div>
