---
import PartnersCarousels from "./PartnersCarousels.astro";
---

<section class="full-width-block block partenaires" data-theme="light">
  <div class="container fade-in">
    <div class="stack-column gap-2 fade-in">
      <h5 class="surtitle">Nos partenaires</h5>
      <h2>Ils nous font confiance</h2>
    </div>
    <div class="partenaires-content stack-row flex-align-center fade-in">
      <PartnersCarousels />
    </div>
  </div>
</section>

<style>
  .partenaires {
    background: var(--color-background-light);
  }
</style>
