<section class="full-width-block block partenaires">
  <div class="container">
    <div class="stack-column gap-2">
      <h5 class="surtitle">Nos partenaires</h5>
      <h2>Ils nous font confiance</h2>
    </div>
    <div class="partenaires-content stack-row alignCenter"></div>
  </div>
</section>

<style>
  .partenaires {
    background: var(--color-background-light);
  }
</style>
