<div class="block securisation-block">
  <div class="stack-row--mobile-column gap-8 fade-in">
    <div class="securisation-illustration">
      <img src="/lock.png" class="lock-illustration" />
      <img src="/signature.jpg" class="signature-image" />
    </div>
    <div class="stack-column gap-4 flex-justify-center">
      <h3>
        <span class="highlight-text">Sécurisation</span> de la transaction commerciale
      </h3>
      <p class="text-secondary">
        La digitalisation du monde des affaires a apporté de nombreux avantages,
        mais elle a également posé de nouveaux défis, notamment en ce qui
        concerne la sécurité des transactions commerciales. C'est là
        qu'intervient la signature électronique, un outil puissant qui garantit
        la sécurité et l'intégrité des accords dématérialisés.
      </p>
      <p class="text-secondary">
        Un avantage clé de la signature électronique est sa capacité à fournir
        une traçabilité complète. Chaque étape de la transaction est
        enregistrée, de la création du document à la signature, en passant par
        l'approbation et le stockage. Cette traçabilité permet une auditabilité
        facile, qui peut s'avérer cruciale en cas de litige ou d'inspection
        réglementaire.
      </p>
    </div>
  </div>
  <style>
    .securisation-block {
      border-bottom: 1px solid var(--color-border);
      margin-top: var(--space-5);
    }
    .securisation-illustration {
      padding: var(--space-5);
      background: var(--color-background-light);
      border-radius: var(--border-radius-md);
      position: relative;
    }

    .lock-illustration {
      position: absolute;
      top: 0;
      left: 20px;
      transform: translateY(-60%);
    }
    .signature-image {
      height: 450px;
      border-radius: var(--border-radius-md);
    }

    @media (max-width: 960px) {
      .signature-image {
        height: auto;
        width: 100%;
      }
    }
  </style>
</div>
