---
import { visionItems } from "../content/content";
---

<section class="full-width-block block vision-section" data-theme="dark">
  <div class="light-ellipse"></div>
  <div class="container container-vision">
    <div class="stack-column gap-5">
      <div class="stack-column gap-2 fade-in">
        <h5 class="surtitle">Notre vision</h5>
        <h2 class="title-light">La dématérialisation</h2>
        <p class="vision-description">
          Cette transformation numérique, qui consiste à convertir des documents
          papier en formats électroniques, ne se limite pas à une simple
          tendance, mais elle représente une évolution essentielle pour le
          succès à long terme des entreprises :
        </p>
      </div>
      <div class="vision-grid fade-in" style={{ zIndex: 3 }}>
        {
          visionItems.map((item, index) => (
            <div class="vision-grid-item">
              <div class="stack-column gap-2">
                <div class="stack-row gap-1 flex-align-center">
                  <img
                    src={`/images/${item.icon}.svg`}
                    class="vision-icon"
                    alt="icône vision"
                  />
                  <h4 style={{ color: "white" }}>{item.title}</h4>
                </div>
                <p class="text-main-light">{item.content}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <img
      src="/images/kangaroo.svg"
      class="kangaroo-illustration"
      alt="image kangouru"
    />
  </div>

  <style>
    .vision-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: var(--space-1-5);
    }
    .vision-grid-item {
      padding: var(--space-4);
      background-color: rgba(88, 111, 131, 0.4);
      border-radius: var(--border-radius-sm);
      border: 1px solid;
      border-color: rgba(255, 255, 255, 0.2);
    }
    .vision-description {
      color: var(--color-border);
      font-size: var(--font-size-md);
    }
    .vision-icon {
      max-height: 22px;
    }
    .vision-section {
      background-color: var(--color-background-primary);
      z-index: -2;
      overflow: hidden;
    }

    .kangaroo-illustration {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(100px);
      opacity: 0.6;
      height: 54px;
    }
    .container-vision {
      position: relative;
    }
    @media (max-width: 1024px) {
      .vision-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: var(--space-1-5);
      }

      .vision-grid-item {
        padding: var(--space-2-5);
      }
      .kangaroo-illustration {
        display: none;
      }
      .light-ellipse {
        height: 100%;
      }
    }
  </style>
</section>
