---
import Header from "./Header.astro";
import "../styles/base.css";
import "../styles/blog.css";
import "../styles/layout.css";
import Footer from "./Footer.astro";
import Bandeau from "../components/Bandeau.astro";

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <div class="article-container">
      <div class="background-blog"></div>
      <div class="stack-column gap-3">
        <a href="/blog" class="back-button">Retour</a>
        <slot />
      </div>
    </div>
    <div class="container">
      <Bandeau />
    </div>
    <Footer />
  </body>
</html>
