<footer class="footer">
  <div class="container stack-row flex-justify-between footer-content">
    <div class="stack-column gap-4">
      <div class="stack-column gap-2">
        <img src="/king-kang-logo-grey.svg" class="logo-footer" />
        <h4 class="text-logo">King Kang</h4>
      </div>
      <div>
        <p class="subtext-footer">Données hébergées en france</p>
      </div>
    </div>

    <div class="stack-column gap-2 flex-1"></div>
  </div>
</footer>

<style>
  .footer {
    margin-top: var(--space-xl);
    padding-top: var(--space-6);
    padding-bottom: var(--space-4);
    background: var(--color-background-light);
  }
  .logo-footer {
    height: 54px;
    width: fit-content;
  }
  .text-logo {
    color: var(--color-text-secondary) !important;
    font-weight: 500;
  }
  .subtext-footer {
    color: var(--color-text-secondary);
    font-size: var(--font-size-2xs);
  }
  .footer-content {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--space-5);
  }
</style>
