---
import "../styles/base.css";
import "../styles/layout.css";
import Header from "../layouts/Header.astro";
import Footer from "./Footer.astro";
const path = Astro.url.pathname;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" /><meta
      name="generator"
      content={Astro.generator}
    /><title>King Kang - Ma relation client dématérialisée</title></head
  >

  <body>
    <Header />
    <div class="container">
      <div class="back-button-container"></div>
      <slot />
    </div>
    <Footer />
  </body>
  <style></style>
</html>
